table {
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

table.help td {
  border: none !important;
}

.snakeHead {
  background-color: blueviolet;
}

.snakeTail {
  background-color: blue;
}

.food {
  background-color: orange;
}

.keyboardKey {
  white-space: nowrap;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
  padding: 0.1em 0.3em;
  font-family: monospace;
}

small {
  font-weight: bold;
  margin-left: 50px;
}
